/* General */


/* Utilitiew */

.color-text-white * {
    color: white;
}

/* Navbar */

nav img {
    max-width: 50px;
}

nav .input-bg-color {
    background-color: white;
}

::placeholder {
    color: black;
}

/* Main */

.box {
    height: 100px;
    min-width: 100px;
    background-color: red;
    border: 1px dashed blue
}

td:nth-child(2) {
    display: none;
}