/* General */

a {
    color: white;
    text-decoration: none;
}

/* Utilitiew */

.color-text-white * {
    color: white;
}

/* Navbar */

nav img {
    max-width: 50px;
}

nav .input-bg-color {
    background-color: white;
}

input::placeholder {
    --bs-secondary-color: rgb(99, 99, 99);
}

/* Main */

/* Main */
/* Table */

td:nth-child(2) {
    display: none;
}

@media screen and (min-width: 992px) {
    td:nth-child(2) {
        display: block;
    }
}



/* Sostituiti con i badge di Bootstrap */
/* .label {
    padding: 3px 5px;
    background-color: #198754;
    color: white;
    border-radius: 8px;
    text-transform:capitalize;
    font-size: 0.8rem;
    text-align: center;
}

.label-green {
    background-color: #198754;
}

.label-yellow {
    background-color: #FFC107;
}

.label-red {
    background-color: #DC3545;
} */


/* Index form */

.form-index-form label {
    color: black;
    font-weight: 500;
}